# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# Build
*.exe
*.exe.embed.manifest
*.exe_manifest.rc
*.exe_manifest.res
*.ilk
*.pdb
Makefile.Debug
Makefile.Release

